<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luozc.oa.system.dao.MenuDao" >
    <sql id="BASE_TABLE">
    sys_menu
  </sql>

    <sql id="BASE_COLUMN">
    id,name
  </sql>
    <select id="selectMenus" resultType="cn.luozc.oa.system.model.Menu">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>


</mapper>