<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../assets/libs/layui/css/layui.css"/>
    <style type="text/css">
        .layui-form-item .layui-form-checkbox{margin: 0;    padding-left: 24px;}
        .layui-form-item .layui-form-checkbox[lay-skin=primary]{margin: 5px 0}
        .layui-form-checkbox[lay-skin=primary] span{min-width: 16px;text-align: center;padding-right: 5px}

        .layui-card-body{padding: 0 15px}

    </style>
</head>
<body>
    <div class="layui-tab" lay-filter="cron">
        <!--选项卡-->
        <ul class="layui-tab-title">
            <li class="layui-this" data-name="day">天</li>
            <li data-name="hour">小时</li>
            <li data-name="minute">每小时</li>
        </ul>

        <div class="layui-tab-content">
            <!--小时-->
            <div class="layui-tab-item layui-show">
                <div class="layui-form" action="" >
                    <div class="layui-form-item">
                        <div class="layui-form-item" pane="" >
                            <input type="checkbox" name="1"  lay-filter="day" lay-skin="primary" title="1">
                            <input type="checkbox" name="2"  lay-filter="day" lay-skin="primary" title="2">
                            <input type="checkbox" name="3"  lay-filter="day" lay-skin="primary" title="3">
                            <input type="checkbox" name="4"  lay-filter="day" lay-skin="primary" title="4">
                            <input type="checkbox" name="5"  lay-filter="day" lay-skin="primary" title="5">
                            <input type="checkbox" name="6"  lay-filter="day" lay-skin="primary" title="6">
                            <input type="checkbox" name="7"  lay-filter="day" lay-skin="primary" title="7">
                            <input type="checkbox" name="8"  lay-filter="day" lay-skin="primary" title="8">
                            <input type="checkbox" name="9"  lay-filter="day" lay-skin="primary" title="9">
                            <input type="checkbox" name="10" lay-filter="day"  lay-skin="primary" title="10">
                            <input type="checkbox" name="11" lay-filter="day"  lay-skin="primary" title="11">
                            <input type="checkbox" name="12" lay-filter="day"  lay-skin="primary" title="12">
                            <input type="checkbox" name="13" lay-filter="day"  lay-skin="primary" title="13">
                            <input type="checkbox" name="14" lay-filter="day"  lay-skin="primary" title="14">
                            <input type="checkbox" name="15" lay-filter="day"  lay-skin="primary" title="15">
                            <input type="checkbox" name="16" lay-filter="day"  lay-skin="primary" title="16">
                            <input type="checkbox" name="17" lay-filter="day"  lay-skin="primary" title="17">
                            <input type="checkbox" name="18" lay-filter="day"  lay-skin="primary" title="18">
                            <input type="checkbox" name="19" lay-filter="day"  lay-skin="primary" title="19">
                            <input type="checkbox" name="20" lay-filter="day"  lay-skin="primary" title="20">
                            <input type="checkbox" name="21" lay-filter="day"  lay-skin="primary" title="21">
                            <input type="checkbox" name="22" lay-filter="day"  lay-skin="primary" title="22">
                            <input type="checkbox" name="23" lay-filter="day"  lay-skin="primary" title="23">
                            <input type="checkbox" name="24" lay-filter="day"  lay-skin="primary" title="24">
                            <input type="checkbox" name="25" lay-filter="day"  lay-skin="primary" title="25">
                            <input type="checkbox" name="26" lay-filter="day"  lay-skin="primary" title="26">
                            <input type="checkbox" name="27" lay-filter="day"  lay-skin="primary" title="27">
                            <input type="checkbox" name="28" lay-filter="day"  lay-skin="primary" title="28">
                            <input type="checkbox" name="29" lay-filter="day"  lay-skin="primary" title="29">
                            <input type="checkbox" name="30" lay-filter="day"  lay-skin="primary" title="30">
                            <input type="checkbox" name="31" lay-filter="day"  lay-skin="primary" title="31">
                        </div>
                    </div>
                </div>
            </div>
            <!--小时-->
            <div class="layui-tab-item">
                <div class="layui-form" action="" >
                    <div class="layui-form-item">
                        <div class="layui-form-item" pane="" >
                            AM:<br>
                            <input type="checkbox" name="0"  lay-filter="hour" lay-skin="primary" title="0">
                            <input type="checkbox" name="1"  lay-filter="hour" lay-skin="primary" title="1">
                            <input type="checkbox" name="2"  lay-filter="hour" lay-skin="primary" title="2">
                            <input type="checkbox" name="3"  lay-filter="hour" lay-skin="primary" title="3">
                            <input type="checkbox" name="4"  lay-filter="hour" lay-skin="primary" title="4">
                            <input type="checkbox" name="5"  lay-filter="hour" lay-skin="primary" title="5">
                            <input type="checkbox" name="6"  lay-filter="hour" lay-skin="primary" title="6">
                            <input type="checkbox" name="7"  lay-filter="hour" lay-skin="primary" title="7">
                            <input type="checkbox" name="8"  lay-filter="hour" lay-skin="primary" title="8">
                            <input type="checkbox" name="9"  lay-filter="hour" lay-skin="primary" title="9">
                            <input type="checkbox" name="10" lay-filter="hour"  lay-skin="primary" title="10">
                            <input type="checkbox" name="11" lay-filter="hour"  lay-skin="primary" title="11">
                            <br>PM:<br>
                            <input type="checkbox" name="12" lay-filter="hour"  lay-skin="primary" title="12">
                            <input type="checkbox" name="13" lay-filter="hour"  lay-skin="primary" title="13">
                            <input type="checkbox" name="14" lay-filter="hour"  lay-skin="primary" title="14">
                            <input type="checkbox" name="15" lay-filter="hour"  lay-skin="primary" title="15">
                            <input type="checkbox" name="16" lay-filter="hour"  lay-skin="primary" title="16">
                            <input type="checkbox" name="17" lay-filter="hour"  lay-skin="primary" title="17">
                            <input type="checkbox" name="18" lay-filter="hour"  lay-skin="primary" title="18">
                            <input type="checkbox" name="19" lay-filter="hour"  lay-skin="primary" title="19">
                            <input type="checkbox" name="20" lay-filter="hour"  lay-skin="primary" title="20">
                            <input type="checkbox" name="21" lay-filter="hour"  lay-skin="primary" title="21">
                            <input type="checkbox" name="22" lay-filter="hour"  lay-skin="primary" title="22">
                            <input type="checkbox" name="23" lay-filter="hour"  lay-skin="primary" title="23">
                        </div>
                    </div>
                </div>
            </div>
            <!--分钟-->
            <div class="layui-tab-item">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form" action="" >
                        <div class="layui-form-item">
                            <div class="layui-form-item" pane="" >
                                <input type="checkbox" name="0"  lay-filter="minute" lay-skin="primary" title="0">
                                <input type="checkbox" name="1"  lay-filter="minute" lay-skin="primary" title="1">
                                <input type="checkbox" name="2"  lay-filter="minute" lay-skin="primary" title="2">
                                <input type="checkbox" name="3"  lay-filter="minute" lay-skin="primary" title="3">
                                <input type="checkbox" name="4"  lay-filter="minute" lay-skin="primary" title="4">
                                <input type="checkbox" name="5"  lay-filter="minute" lay-skin="primary" title="5">
                                <input type="checkbox" name="6"  lay-filter="minute" lay-skin="primary" title="6">
                                <input type="checkbox" name="7"  lay-filter="minute" lay-skin="primary" title="7">
                                <input type="checkbox" name="8"  lay-filter="minute" lay-skin="primary" title="8">
                                <input type="checkbox" name="9"  lay-filter="minute" lay-skin="primary" title="9">
                                <input type="checkbox" name="10" lay-filter="minute"  lay-skin="primary" title="10">
                                <input type="checkbox" name="11" lay-filter="minute"  lay-skin="primary" title="11">
                                <input type="checkbox" name="12" lay-filter="minute"  lay-skin="primary" title="12">
                                <input type="checkbox" name="13" lay-filter="minute"  lay-skin="primary" title="13">
                                <input type="checkbox" name="14" lay-filter="minute"  lay-skin="primary" title="14">
                                <input type="checkbox" name="15" lay-filter="minute"  lay-skin="primary" title="15">
                                <input type="checkbox" name="16" lay-filter="minute"  lay-skin="primary" title="16">
                                <input type="checkbox" name="17" lay-filter="minute"  lay-skin="primary" title="17">
                                <input type="checkbox" name="18" lay-filter="minute"  lay-skin="primary" title="18">
                                <input type="checkbox" name="19" lay-filter="minute"  lay-skin="primary" title="19">
                                <input type="checkbox" name="20" lay-filter="minute"  lay-skin="primary" title="20">
                                <input type="checkbox" name="21" lay-filter="minute"  lay-skin="primary" title="21">
                                <input type="checkbox" name="22" lay-filter="minute"  lay-skin="primary" title="22">
                                <input type="checkbox" name="23" lay-filter="minute"  lay-skin="primary" title="23">
                                <input type="checkbox" name="24" lay-filter="minute"  lay-skin="primary" title="24">
                                <input type="checkbox" name="25" lay-filter="minute"  lay-skin="primary" title="25">
                                <input type="checkbox" name="26" lay-filter="minute"  lay-skin="primary" title="26">
                                <input type="checkbox" name="27" lay-filter="minute"  lay-skin="primary" title="27">
                                <input type="checkbox" name="28" lay-filter="minute"  lay-skin="primary" title="28">
                                <input type="checkbox" name="29" lay-filter="minute"  lay-skin="primary" title="29">
                                <input type="checkbox" name="30" lay-filter="minute"  lay-skin="primary" title="30">
                                <input type="checkbox" name="31" lay-filter="minute"  lay-skin="primary" title="31">
                                <input type="checkbox" name="32" lay-filter="minute"  lay-skin="primary" title="32">
                                <input type="checkbox" name="33" lay-filter="minute"  lay-skin="primary" title="33">
                                <input type="checkbox" name="34" lay-filter="minute"  lay-skin="primary" title="34">
                                <input type="checkbox" name="35" lay-filter="minute"  lay-skin="primary" title="35">
                                <input type="checkbox" name="36" lay-filter="minute"  lay-skin="primary" title="36">
                                <input type="checkbox" name="37" lay-filter="minute"  lay-skin="primary" title="37">
                                <input type="checkbox" name="38" lay-filter="minute"  lay-skin="primary" title="38">
                                <input type="checkbox" name="39" lay-filter="minute"  lay-skin="primary" title="39">
                                <input type="checkbox" name="40" lay-filter="minute"  lay-skin="primary" title="40">
                                <input type="checkbox" name="41" lay-filter="minute"  lay-skin="primary" title="41">
                                <input type="checkbox" name="42" lay-filter="minute"  lay-skin="primary" title="42">
                                <input type="checkbox" name="43" lay-filter="minute"  lay-skin="primary" title="43">
                                <input type="checkbox" name="44" lay-filter="minute"  lay-skin="primary" title="44">
                                <input type="checkbox" name="45" lay-filter="minute"  lay-skin="primary" title="45">
                                <input type="checkbox" name="46" lay-filter="minute"  lay-skin="primary" title="46">
                                <input type="checkbox" name="47" lay-filter="minute"  lay-skin="primary" title="47">
                                <input type="checkbox" name="48" lay-filter="minute"  lay-skin="primary" title="48">
                                <input type="checkbox" name="49" lay-filter="minute"  lay-skin="primary" title="49">
                                <input type="checkbox" name="50" lay-filter="minute"  lay-skin="primary" title="50">
                                <input type="checkbox" name="51" lay-filter="minute"  lay-skin="primary" title="51">
                                <input type="checkbox" name="52" lay-filter="minute"  lay-skin="primary" title="52">
                                <input type="checkbox" name="53" lay-filter="minute"  lay-skin="primary" title="53">
                                <input type="checkbox" name="54" lay-filter="minute"  lay-skin="primary" title="54">
                                <input type="checkbox" name="55" lay-filter="minute"  lay-skin="primary" title="55">
                                <input type="checkbox" name="56" lay-filter="minute"  lay-skin="primary" title="56">
                                <input type="checkbox" name="57" lay-filter="minute"  lay-skin="primary" title="57">
                                <input type="checkbox" name="58" lay-filter="minute"  lay-skin="primary" title="58">
                                <input type="checkbox" name="59" lay-filter="minute"  lay-skin="primary" title="59">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: fixed; bottom: 0; width: 100%">
            <div style="padding: 10px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">最近5次执行时间</div>
                            <div class="layui-card-body">
                                <p>2019年2月15日15:04:38</p>
                                <p>2019年2月15日15:04:38</p>
                                <p>2019年2月15日15:04:38</p>
                                <p>2019年2月15日15:04:38</p>
                                <p>2019年2月15日15:04:38</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="layui-btn" style="width: 100%;">保存</button>
        </div>



    </div>


<script type="text/javascript" src="../../../assets/libs/layui/layui.js"></script>
<script type="text/javascript" >
    layui.use(['element','form'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        // //监听选项卡点击事件
        // element.on('tab(cron)', function(elem){
        //    console.log(elem);
        //     $(".layui-form-checked").removeClass("layui-form-checked");
        // });

        var cron = "* * * * * ?";

        form.on('checkbox(day)', function(data){
            // console.log(data.elem); //得到checkbox原始DOM对象
            // console.log(data.elem.checked); //是否被选中，true或者false
            // console.log(data.value); //复选框value值，也可以通过data.elem.value得到
            // console.log(data.othis); //得到美化后的DOM对象

            var arr = [];
            $(".layui-form-checked span").each(function(){
                arr.push($(this).html());
            });
            var crons = cron.split(" ");
            crons[3] = arr.join(',');
            cron = crons.join(' ');
            getDataList();
        });
        form.on('checkbox(hour)', function(data){
            var arr = [];
            $(".layui-form-checked span").each(function(){
                arr.push($(this).html());
            });
            var crons = cron.split(" ");
            crons[2] = arr.join(',');
            cron = crons.join(' ');
            getDataList();
        });
        form.on('checkbox(minute)', function(data){
            var arr = [];
            $(".layui-form-checked span").each(function(){
                arr.push($(this).html());
            });
            var crons = cron.split(" ");
            crons[1] = arr.join(',');
            cron = crons.join(' ');
            getDataList();
        });

        function getDataList(){
            console.log(cron);
            $.ajax({
                url:"/quartz/calcRunTime",
                data:{"cron":cron},
                dataType:"json",
                type:"post",
                success:function (res) {
                    console.log(res)
                }
            })
        }
    });
</script>
</body>
</html>